.App {
  margin: 25px;
}
.Profile {
  display: flex;
  align-content: space-around;
  margin-top: 3%;
}
.Info {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
